.stats-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  max-width: 900px;
  margin: 40px auto;
  padding: 0 16px;
}

.card {
  background-color: #141429;
  padding: 12px;
  border-radius: 12px;
  border: 2px solid purple;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg-card {
  width: 100%;
  max-width: 420px;
  height: auto;
  border-radius: 8px;
}

@media (min-width: 768px) {
  .stats-container {
    grid-template-columns: 1fr 1fr;
  }
}
